
.tc-status 
{
    font-family: verdana;
    padding: 30px 0px 0px 10px;
    border: 1px solid black;
    width: 400px;
    height: 150px;
    display: inline-table;
    font-size: 24px;
    border-radius: 15px;
}

.tc-status img {
    float: left;
}

.success {
    background-color: greenyellow;
}

.failure {
    background-color: red;
}